/* Plotting */
div#bkapp {
  height: 100%;
  width: 100%;
}
/* End plotting */


/* Vsteps */

/* End vsteps */


/* Header */

/* End header */


/* Navigation */

/* End navigation */


/* Logs */

div#log-container {
  height: 10vh;
  min-height: 10vh;
  background-color: #353839;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  /* border-radius: 1em; */
  padding: 1em 2em;
  /* overflow-y: auto; */
}

/* End logs */


/* Other */

/* Needed for correct stretching of divs */
.shrinkable {
  min-height: 0;
  min-width: 0;
}

/* End other */