<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DiaBayes</title>
  <link href="{{ url_for('static', filename='css/bootstrap-5.3.3.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap-icons-1.11.3.min.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/bootstrap-5.3.3.bundle.min.js') }}" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='js/socket.io-4.0.1.min.js') }}" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='js/bokeh-3.8.0.min.js') }}" charset="utf-8"></script>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body class="d-flex flex-column vh-100 overflow-hidden">

  <!-- Main navigation -->
  <header>
    <div class="logo">DiaBayes</div>
    <nav class="navbar">
      <ul class="nav-links">
        <li><i class="bi bi-bookmark-check-fill"></i><a href="https://docs.diabayes.science">Documentation</a></li>
        <li><i class="bi bi-bug-fill"></i><a href="https://github.com/martijnende/diabayes/issues">Report a bug</a></li>
        <li><i class="bi bi-github"></i><a href="https://github.com/martijnende/diabayes">GitHub</a></li>
      </ul>
    </nav>
  </header>
  <!-- End main navigation -->

  <!-- Main content -->
  <main class="row flex-fill d-flex shrinkable">

    <section class="col-6 flex-fill bg-light p-3">

      <!-- Data upload -->
      <div class="row ps-3">
        <div class="col input-group" id="file-upload-group">
          <input type="file" class="form-control" id="data-file">
          <label class="input-group-text" for="data-file">Import data (.npy) or project (.dbproj)</label>
        </div>
      </div>

      <div class="row mt-2 ps-3">
        <div class="col">
          <!-- Clear logs button -->
          <button class="btn btn-warning" id="" disabled>
            <i class="bi bi-file-earmark-x"></i> Clear logs
          </button>
          <!-- Clear data button -->
          <button class="btn btn-warning" id="clear-data" disabled>
            <i class="bi bi-trash"></i> Clear data
          </button>
        </div>
      </div>
      <!-- End data upload -->

      <!-- Vsteps -->
      <div class="row mt-3 ps-3">
        <div class="col">
          <div class="vstep input-group">
            <form>
              <div class="row g-2">
                <div class="col-md-6">
                  <label for="start" class="form-label">Start</label>
                  <input type="number" class="form-control" id="start" name="start" step="1">
                </div>

                <div class="col-md-6">
                  <label for="stop" class="form-label">Stop</label>
                  <input type="number" class="form-control" id="stop" name="stop" step="1">
                </div>
              </div>

              <div class="row g-2 mt-2">
                <div class="col-md-6">
                  <label for="startValue" class="form-label">Start value</label>
                  <input type="number" class="form-control" id="startValue" name="startValue" step="any">
                </div>

                <div class="col-md-6">
                  <label for="stopValue" class="form-label">Stop value</label>
                  <input type="number" class="form-control" id="stopValue" name="stopValue" step="any">
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
      <!-- End vsteps -->
    </section>

    <!-- Plots -->
    <section class="col-6 flex-fill p-3">
      <div id="bkapp">{{ bokeh_script | safe }}</div>
      </div>
      <!-- End plots -->

  </main>
  <!-- End main content-->

  <!-- Footer -->
  <footer class="row">
    <!-- Logs -->
    <div class="col-12 overflow-auto" id="log-container"></div>
    <!-- End logs -->
  </footer>
  <!-- End footer -->

</body>
{% block javascript %}
<script src="{{ url_for('static', filename='js/logs.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/data_upload.js') }}"></script>
{% endblock %}

</html>