{% extends "base.html" %}

{% set active_page = "load_data" %}

{% block content %}

<div class="row">
  <div class="col-xxl-2 col-xl-1"></div>
  <div class="col-10">
    <h3 class="content-header">Select data source</h3>
    <div class="content-box">
      <div class="input-group">
        <!-- Unfortunately browsers remove the file path for security -->
        <!-- reasons, so a user will have to punch it in manually -->
        <input class="form-control" id="data-file" placeholder="Specify absolute file path">
        <button id="submitFile" class="btn btn-outline-primary" type="button">Read file</button>
      </div>
    </div>
  </div>
  <div class="col-xxl-0 col-xl-1"></div>
</div>

<div class="row invisible">
  <div class="col-xxl-2 col-xl-1"></div>
  <div class="col-10">
    <h3 class="content-header">Select quantities</h3>
    <div class="content-box">
      <div class="input-group">
        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
      </div>
    </div>
  </div>
  <div class="col-xxl-0 col-xl-1"></div>
</div>

<div class="row invisible">
  <div class="col-xxl-2 col-xl-1"></div>
  <div class="col-9"></div>
  <div class="col-1"><button type="button" class="btn btn-success btn-lg">Next</button></div>
  <div class="col-xxl-0 col-xl-1"></div>
</div>


{% endblock %}

{% block javascript %}

{{ super() }}

<script>
  $("#submitFile").on("click", function(event) {
    event.preventDefault();

    let filename = $("#data-file").val();

    $.ajax({
      url: "/read_file",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify({ filename: filename }),
      success: function(response) {
        if (response.success) {
          $("#output").html("test");
          $("#output").fadeIn();
        }
      },
      error: function(xhr) {},
    });
  });
</script>

{% endblock %}
