<nav class="nav-container">
  <div class="nav-box{% if active_page == 'load_data' %} active{% endif %}"><span class="bi bi-search"><a href="{{ url_for('load_data') }}">Load data</a></span></div>
  <div class="nav-box{% if active_page == 'processing' %} active{% endif %}"><span class="bi bi-gear-fill"><a href="{{ url_for('processing') }}">Processing</a></span></div>
  <div class="nav-box{% if active_page == 'inversion' %} active{% endif %}"><span class="bi bi-activity"><a href="{{ url_for('inversion') }}">Inversion</a></span></div>
</nav>

