{% for step in vsteps %}
<div class="vstep input-group">

  <form id="form_vstep_{{ step.id }}">

    <!-- Velocity step ID -->
    <input type="hidden" name="id" value="{{ step.id }}" />

    <!-- Start/stop values -->
    <div class="row g-2">

      <!-- Start value -->
      <div class="col-md-6">
        <label for="start" class="form-label">Start</label>
        <input type="number" inputmode="numeric" pattern="\d*" class="form-control" id="start" name="start" min="0"
          step="1" id="count" value="{{ step.start }}">
      </div>

      <!-- Stop value -->
      <div class="col-md-6">
        <label for="stop" class="form-label">Stop</label>
        <input type="number" class="form-control" id="stop" name="stop" min="0" step="1" value="{{ step.stop }}">
      </div>

    </div>
    <!-- End start/stop values -->

    <!-- Update/delete buttons -->
    <div class="row g-2">

      <div class="col-md-6">
        <button type="button" class="btn btn-success action-btn" data-action="update">
          <i class="bi bi-arrow-clockwise"></i> Update
        </button>
      </div>

      <div class="col-md-6">
        <button type="button" class="btn btn-warning action-btn" data-action="delete">
          <i class="bi bi-trash"></i> Delete
        </button>
      </div>
    </div>
    <!-- End update/delete buttons -->

  </form>
</div>
{% else %}
<div class="no-vstep">Add a velocity step to begin</div>
{% endfor %}
